# Default server settings
[mysqld]
user			= snap_daemon
bind-address		= 127.0.0.1
mysqlx-bind-address     = 127.0.0.1
lower_case_table_names	= 1

# Import all .cnf files from configuration directory
!includedir /var/snap/_NAME_/current/etc
